<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <h3>Upcoming Events</h3>
  <% @events.each do |event| %>
    <% if event.future %>
      <%= link_to "#{event.title}", event %><br>
    <% end %>
  <% end %>
  <h3>Events That have Gone</h3>
  <% @events.each do |event| %>
    <% if event.past %>
      <%= link_to "#{event.title}", event %><br>
    <% end %>
  <% end %>
</div>

