<body class="bg-light">
  <div class="container">
    <h1>New event</h1>

    <%= render "form", event: @event %>

    <br>

    <div>
      <%= link_to "Back to events", events_path, class: 'btn btn-outline-primary' %>
    </div> 
  </div>
</body>


