<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to "Your Events", user_path(current_user), class:'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to "New event", new_event_path, class: 'nav-link active' %>
      </li>
      <li>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      </li>
    </ul>
  </nav>
<% end %>